.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;

  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  margin-left: 5px;
  width: 45px;
}

.logo-text {
  margin-left: 10px;
  margin-top: 4px;
}

.logo-text a {
  text-decoration: none;
  color: white;
  font-weight: bold;

}


.logo-text a:visited {
text-decoration: none;
color: white;
font-weight: bold;
}

.logo-text a:hover {
  text-decoration: underline;
}
